DATABASE_URL=url-db
DATABASE_POOL_URL=url-db-pooling-if-use-supabase

PORT=8000
NODE_ENV=development-or-production

R2_ACCESS_KEY=access-storage
R2_SECRET_ACCESS_KEY=access-key-storage
R2_ENDPOINT_URL=endpoint
R2_BUCKET_NAME=bucket

JWT_ACCESS_SECRET=random-string-32
JWT_REFRESH_SECRET=random-string-32

CLIENT_URL=url-frontend